body {
  height: 400px;
  width: 400px;
  background: #b90202;
}
#timer {
  text-align: center;
  font-size: 40px;
  margin: 10px;

  color: whitesmoke;
}

.header {
  display: flex;
  justify-content: center;
  height: 40px;
  background: whitesmoke;
  margin: -8px;
  padding: 5px;
}

#btn-container{
  display: flex;
  justify-content: space-around;
}

#btn-container > button {
  color: #b90202;
  background-color: whitesmoke;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
  width: 120px;
  cursor: pointer;
}

#task-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.task-input{
  border: none;
  outline: none;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  width: 250px;

}

.delete-btn{
  outline: none;
    border: none;
    border-radius: 5px;
    color: #b90202;
    width: 30px;
    height: 32px;
    font-weight: 700;
}